<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>HW 7 - Rust game</title>
  </head>
  <body>
    {% include "nav" %}

    {% block content %}{% endblock content %}

      <footer>
        <a href="/">Home</a>
      </footer>
  </body>
</html>